.animation{
    display : flex;
    justify-content: center;
    

    &__bloc{
        display : flex;
        justify-content: center;
        align-items: center;
        width : 100px;
        height : 100px;
        border-radius: 20%;
        background-color: rgb(255, 255, 255);
        color : #fff;
        font-size: 3rem;
        margin: 10px;
        
        &__gauche{
            display : flex;
        justify-content: center;
        align-items: center;
        width : 100px;
        height : 100px;
        border-radius: 20%;
        background-color: rgb(255, 255, 255);
        color : #fff;
        font-size: 3rem;
        margin: 10px;
        animation : anim-entete-gauche 1s forwards;
        }
        &__droit{
            display : flex;
        justify-content: center;
        align-items: center;
        width : 100px;
        height : 100px;
        border-radius: 20%;
        background-color: rgb(255, 255, 255);
        color : #fff;
        font-size: 3rem;
        margin: 10px;
            animation : anim-entete-droit 1s forwards;
        }
    }
    
}

@keyframes anim-entete-gauche {
    0% {
      transform : translateX(-100vh);  
    }
    100% {
        transform : translateX(0);  
    }
}

@keyframes anim-entete-droit {
    0% {
      transform : translateX(100vh);  
    }
    100% {
        transform : translateX(0);  
    }
}